[Unit]
Description=explorer.gnexcoin.com Sync Service

[Service]
Environment=steemnode=gnexportal.com:9876
WorkingDirectory=/var/www/com_steemdb/docker/sync
ExecStart=/usr/bin/python3 sync.py
Restart=always

[Install]
WantedBy=multi-user.target
