[Unit]
Description=explorer.gnexcoin.com History Service

[Service]
Environment=steemnode=gnexportal.com:9876
WorkingDirectory=/var/www/com_steemdb/docker/history
ExecStart=/usr/bin/python3 history.py
Restart=always

[Install]
WantedBy=multi-user.target
